<!-- Section Slider -->
<section id="slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/slides/slide1.jpg" class="d-block w-100 imgcarousel" alt="Slide 1">
        <div class="carousel-caption d-none d-md-block">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-8 bg-zero d-none d-lg-block py-3 px-0 position-absolute">
                <h1>Primeira Demonstração</h1>
                <div class="border-top border-primary w-50 mx-auto my-3"></div>
                <p class="pb-3">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                <a href="https://github.com/Pedrolustosa" class="btn btn-lg btn-outline-dark"><i
                    class="fab fa-github"></i> GitHub</a>
                <a href="https://www.linkedin.com/in/pedro-henrique-lustosa-e-silva-29b827144/"
                  class="btn btn-lg btn-outline-primary"><i class="fab fa-linkedin"></i> Linkedin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/slides/slide2.jpg" class="d-block w-100 imgcarousel" alt="Slide 2">
        <div class="carousel-caption d-none d-md-block">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-8 bg-zero d-none d-lg-block py-3 px-0 position-absolute">
                <h1>Primeira Demonstração</h1>
                <div class="border-top border-primary w-50 mx-auto my-3"></div>
                <p class="pb-3">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/slides/slide3.jpg" class="d-block w-100 imgcarousel" alt="Slide 3">
        <div class="carousel-caption d-none d-md-block">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-8 bg-zero d-none d-lg-block py-3 px-0 position-absolute">
                <h1>Primeira Demonstração</h1>
                <div class="border-top border-primary w-50 mx-auto my-3"></div>
                <p class="pb-3">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- Section Slider -->

<!-- Section Partner -->
<section id="partner">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../assets/img/owlcarousel/partner1.png" class="w-50 owlcarousel" alt="img 1">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../assets/img/owlcarousel/partner2.png" class="w-50 owlcarousel" alt="img 2">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../assets/img/owlcarousel/partner3.png" class="w-50 owlcarousel" alt="img 3">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../assets/img/owlcarousel/partner4.png" class="w-50 owlcarousel" alt="img 4">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../assets/img/owlcarousel/partner5.png" class="w-50 owlcarousel" alt="img 5">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../assets/img/owlcarousel/partner6.png" class="w-50 owlcarousel" alt="img 6">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../assets/img/owlcarousel/partner6.png" class="w-50 owlcarousel" alt="img 6">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../assets/img/owlcarousel/partner6.png" class="w-50 owlcarousel" alt="img 6">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../assets/img/owlcarousel/partner6.png" class="w-50 owlcarousel" alt="img 6">
      </div>
    </ng-template>
  </owl-carousel-o>
  <hr>
</section>
<!-- Section Partner -->

<!-- Section About -->
<section id="about">
  <h1 class="mx-auto d-flex justify-content-center w-25 border-coffee mb-4 py-4">Sobre</h1>
  <div class="container d-flex justify-content-center">

    <div class="row gx-0 p-4 m-2">

      <div class="col-md-6">
        <div class="row gx-0">
          <div class="col">
            <div class="card principal">
              <img src="../../assets/img/card/card-principal.jpg" class="w-100">
              <div class="card-body">
                <h1 class="mx-auto w-50 card-title border-coffee mb-4 pt-2 pb-1">CoffeeStars</h1>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, deserunt quae?
                  Repellendus cum perspiciatis soluta fugiat ipsam velit numquam facere beatae aspernatur fugit
                  veritatis est, at necessitatibus deleniti porro repudiandae. veritatis est, at necessitatibus deleniti
                  porro repudiandae.</p>
                <ul>
                  <li><i class="fas fa-mug-hot"></i> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                  <li><i class="fas fa-mug-hot"></i> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                  <li><i class="fas fa-mug-hot"></i> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                  <li><i class="fas fa-mug-hot"></i> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                </ul>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, deserunt quae?
                  Repellendus cum perspiciatis soluta fugiat ipsam velit numquam facere beatae aspernatur fugit
                  veritatis est, at necessitatibus deleniti porro repudiandae.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row gx-0">
          <div class="col-md-4">
            <div class="card sub">
              <div class="card-body">
                <h1 class="card-title text-center m-3"><img src="../../assets/img/card/coffee1.png" class="w-50"
                    alt="coffee1"></h1>
                <p class="card-text text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                <p class="card-text text-center"><small class="text-muted">This is a pretty card</small></p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card sub">
              <div class="card-body">
                <h1 class="card-title text-center m-3"><img src="../../assets/img/card/coffee2.png" class="w-50"
                    alt="coffee2"></h1>
                <p class="card-text text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <p class="card-text text-center"><small class="text-muted">This is a pretty card</small></p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card sub">
              <div class="card-body">
                <h1 class="card-title text-center m-3"><img src="../../assets/img/card/coffee3.png" class="w-50"
                    alt="coffee3"></h1>
                <p class="card-text text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <p class="card-text text-center"><small class="text-muted">This is a pretty card</small></p>
              </div>
            </div>
          </div>

          <div class="row gx-0">
            <div class="col-md-4">
              <div class="card sub">
                <div class="card-body">
                  <h1 class="card-title text-center m-3"><img src="../../assets/img/card/coffee1.png" class="w-50"
                      alt="coffee1"></h1>
                  <p class="card-text text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                  <p class="card-text text-center"><small class="text-muted">This is a pretty card</small></p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card sub">
                <div class="card-body">
                  <h1 class="card-title text-center m-3"><img src="../../assets/img/card/coffee2.png" class="w-50"
                      alt="coffee2"></h1>
                  <p class="card-text text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                  <p class="card-text text-center"><small class="text-muted">This is a pretty card</small></p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card sub">
                <div class="card-body">
                  <h1 class="card-title text-center m-3"><img src="../../assets/img/card/coffee3.png" class="w-50"
                      alt="coffee3"></h1>
                  <p class="card-text text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                  <p class="card-text text-center"><small class="text-muted">This is a pretty card</small></p>
                </div>
              </div>
            </div>

          </div>

          <div class="row gx-0">
            <div class="col-md-12">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../assets/img/card/card-sub.jpg" class="w-100 h-100" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer. Lorem ipsum dolor sit, amet consectetur
                        adipisicing elit.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section About -->

<!-- Section Fixed-Background -->
<section id="fixed-background">
  <div class="parallax-window" data-parallax="scroll"
    data-image-src="../../assets/img/fixed-background/fixed-background.jpg">
    <div class="container">
      <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam vitae vel, dolor in magnam mollitia!
        Omnis asperiores velit nesciunt quia ut, distinctio praesentium, earum id facilis maiores dolorem,
        labore fuga.
      </p>
    </div>

  </div>
</section>
<!-- Section Fixed-Background -->


<!-- Section Service -->
<section id="service">
  <div class="container pb-4">
    <div class="row pt-3 pb-5 text-center">


      <div class="col-lg-4 p-4">
        <h3 class="my-4">Título</h3>
        <img src="../../assets/img/card/card-principal.jpg" alt="logoex" class="w-100 rounded">
        <h5 class="text-dark pt-3">Sub-Título</h5>
        <div class="border-top border-coffee w-25 mx-auto my-3"></div>
        <p class="lead pt-3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam vitae vel, dolor in magnam mollitia!
          Omnis asperiores velit nesciunt quia ut, distinctio praesentium, earum id facilis maiores dolorem,
          labore fuga.
        </p>
        <a href="#" class="btn btn-outline-dark btn-md">Link 1</a>
      </div>

      <div class="col-lg-4 p-4">
        <h3 class="my-4">Título</h3>
        <div data-tilt>
          <img src="../../assets/img/card/card-principal.jpg" alt="logoex" class="w-100 rounded">
        </div>
        <h5 class="text-dark pt-3">Sub-Título</h5>
        <div class="border-top border-coffee w-25 mx-auto my-3"></div>
        <p class="lead pt-3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam vitae vel, dolor in magnam mollitia!
          Omnis asperiores velit nesciunt quia ut, distinctio praesentium, earum id facilis maiores dolorem,
          labore fuga.
        </p>
        <a href="#" class="btn btn-outline-dark btn-md">Link 2</a>
      </div>

      <div class="col-lg-4 p-4">
        <h3 class="my-4">Título</h3>
        <div data-tilt>
          <img src="../../assets/img/card/card-principal.jpg" alt="logoex" class="w-100 rounded">
        </div>
        <h5 class="text-dark pt-3">Sub-Título</h5>
        <div class="border-top border-coffee w-25 mx-auto my-3"></div>
        <p class="lead pt-3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam vitae vel, dolor in magnam mollitia!
          Omnis asperiores velit nesciunt quia ut, distinctio praesentium, earum id facilis maiores dolorem,
          labore fuga.
        </p>
        <a href="#" class="btn btn-outline-dark btn-md">Link 3</a>
      </div>

    </div>
  </div>
</section>
<!-- Section Service -->

<!-- Section Footer -->
<section id="footer">
  <div class="container-lg pt-3 pb-1">
    <div class="mx-auto">
      <div class="row g-0 text-center">
        <div class="col-md-3">
          <h5 class="mx-auto border-4 border-bottom border-light w-50">Follow US.</h5>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <div class="text-center">
            <a href=""><i class="fab fa-instagram-square instagram"></i></a>
            <a href=""><i class="fab fa-facebook facebook"></i></a>
            <a href=""><i class="fab fa-linkedin linkedin"></i></a>
            <a href=""><i class="fab fa-twitter twitter"></i></a>
          </div>
        </div>
        <div class="col-md-3">
          <h5 class="mx-auto border-4 border-bottom border-light w-50">Company.</h5>
          <ul>
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">Wishlist</a></li>
            <li><a href="">Our Products</a></li>
            <li><a href="">Checkouts</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="mx-auto border-4 border-bottom border-light w-50">Suport.</h5>
          <ul>
            <li><a href="">Chat Online</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Email</a></li>
            <li><a href="">Our Products</a></li>
            <li><a href="">Online Assistance</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="mx-auto border-4 border-bottom border-light w-50">Newsletter.</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="socket">
  <div class="d-flex container-lg">
    <div class="ml-auto">© 2021 Your company. All rights reserved.</div>
    <div class="ms-auto">
      <i class="fab fa-cc-mastercard"></i>
      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-stripe"></i>
      <i class="fab fa-cc-discover"></i>
      <i class="fab fa-cc-amazon-pay"></i>
    </div>
  </div>
</div>
<!-- Section Footer -->
